body{
    background-image: url("https://img.freepik.com/premium-vector/cute-pug-dog-walking-cartoon-seamless-pattern_42750-391.jpg");
    font-size: 30px; 
}
a:link {color: aquamarine;}
a:hover{ color: coral;}
a:focus-visible{outline: 2px solid blueviolet}
p
{
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
   
    /* font-weight: 900; */
    font-style: italic;
    letter-spacing: 4px;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border:1px solid rgb(242, 255, 251);
    text-align: center;
}

#ma{
    width:50vw;
}

img {
    object-fit: cover;
}

a{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

ul li::marker {
    margin-left: 20px;
    content: "👨🏾‍🦳";
    color: rgb(105, 52, 5);
    font-size: 1.2em;
}
.block
{
    display: block;
    width: 400px;
    height:120px;
    background-color: blanchedalmond;
    overflow-wrap: break-word;
    padding:10px;
    border:rgb(205, 154, 240) solid 4px;
}

ol{
    list-style-type: lower-greek;
}

footer{

    background:linear-gradient(circle,blue,purple,green);
}

.inline
{
    display:inline;
    color:blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.inlock{
    display:inline-block;
    width: 400px;
    height:60px;
    color: rgb(242, 49, 242);
    background:radial-gradient(grey,rgb(243, 226, 132),rgb(251, 173, 47));
    padding:10px;
    border:3px solid rgb(45, 143, 113);
    border-radius: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* .fixed-box{
   
    background:bisque;
    border: 2px solid black;
    padding: 10px;
} */
